In [236]:
import pandas as pd
import numpy as np
from skmultilearn.model_selection import iterative_train_test_split
from sklearn.datasets import make_multilabel_classification
from skmultilearn.model_selection import IterativeStratification
import random
import csv

# Loads and manipulates

In [2]:
acc0 = pd.read_csv("/neurospin/dico/data/deep_folding/current/datasets/ACCpatterns/ACCpatterns_0_without_headers.csv", header=None)
acc1 = pd.read_csv("/neurospin/dico/data/deep_folding/current/datasets/ACCpatterns/ACCpatterns_1_without_headers.csv", header=None)
acc = pd.read_csv("/neurospin/dico/data/deep_folding/current/datasets/ACCpatterns/subjects_labels.csv")
acc = acc[~acc.long_name.isnull()]
acc = acc[['long_name', 'DATABASE', 'SEX', 'Right_PCS', 'Left_PCS']]

In [3]:
len(acc)

341

In [4]:
acc.head()

          long_name  DATABASE SEX Right_PCS Left_PCS
0  nih_chp_04701_t1  NIMH_COS   M    absent  present
1  nih_chp_01534_t1  NIMH_COS   M   present  present
2  nih_chp_04623_t1  NIMH_COS   M   present  present
3  nih_chp_01503_t1  NIMH_COS   M    absent   absent
4  nih_chp_00404_t1  NIMH_COS   M   present  present

In [5]:
acc0.head()

                  0
0  nih_chp_01217_t1
1      a0040_t1_s03
2      e0071_t1_s03
3  nih_chp_04911_t1
4  nih_chp_02488_t1

In [6]:
np.random.seed(101)
msk = np.random.rand(len(acc)) < 0.5

In [7]:
acc['msk'] = msk
acc.head()

          long_name  DATABASE SEX Right_PCS Left_PCS    msk
0  nih_chp_04701_t1  NIMH_COS   M    absent  present  False
1  nih_chp_01534_t1  NIMH_COS   M   present  present  False
2  nih_chp_04623_t1  NIMH_COS   M   present  present   True
3  nih_chp_01503_t1  NIMH_COS   M    absent   absent   True
4  nih_chp_00404_t1  NIMH_COS   M   present  present  False

In [8]:
acc.loc[(acc.DATABASE=='APEX') & (acc.msk), 'SEX'] = 'M'

In [9]:
acc.loc[(acc.DATABASE=='APEX') & (~acc.msk), 'SEX'] = 'F'

In [10]:
acc0 = acc[acc.long_name.isin(acc0[0])]
acc0.head()

          long_name  DATABASE SEX Right_PCS Left_PCS    msk
0  nih_chp_04701_t1  NIMH_COS   M    absent  present  False
1  nih_chp_01534_t1  NIMH_COS   M   present  present  False
4  nih_chp_00404_t1  NIMH_COS   M   present  present  False
6  nih_chp_01217_t1  NIMH_COS   M    absent   absent   True
8  nih_chp_01746_t1  NIMH_COS   F   present  present  False

In [11]:
acc1 = acc[acc.long_name.isin(acc1[0])]
acc1.head()

          long_name  DATABASE SEX Right_PCS Left_PCS    msk
2  nih_chp_04623_t1  NIMH_COS   M   present  present   True
3  nih_chp_01503_t1  NIMH_COS   M    absent   absent   True
5  nih_chp_02741_t1  NIMH_COS   M    absent  present  False
7  nih_chp_01226_t1  NIMH_COS   M    absent  present  False
9  nih_chp_05066_t1  NIMH_COS   M   present   absent   True

In [12]:
len(acc1)

171

In [13]:
# x = acc['long_name']
# x = x.to_numpy()
# y = acc[['DATABASE', 'SEX', 'Right_PCS', 'Left_PCS']]
# y = y.to_numpy()

In [14]:
# X_train, y_train, X_test, y_test = iterative_train_test_split(x,y,test_size=0.20)

In [15]:
len(acc)

341

# Makes split without considering ACC0

In [16]:
acc[(acc.DATABASE=="NIMH_COS") & (acc.SEX=="M") & (acc.Right_PCS=="absent") & (acc.Left_PCS=="absent")]

           long_name  DATABASE SEX Right_PCS Left_PCS    msk
3   nih_chp_01503_t1  NIMH_COS   M    absent   absent   True
6   nih_chp_01217_t1  NIMH_COS   M    absent   absent   True
23  nih_chp_00756_t1  NIMH_COS   M    absent   absent   True
25  nih_chp_01579_t1  NIMH_COS   M    absent   absent  False
30  nih_chp_03881_t1  NIMH_COS   M    absent   absent  False
55  nih_chp_05127_t1  NIMH_COS   M    absent   absent   True
71  nih_chp_05117_t1  NIMH_COS   M    absent   absent  False

In [17]:
acc.query("DATABASE=='NIMH_COS' and SEX=='M' and Right_PCS=='absent' and Left_PCS=='absent'")

           long_name  DATABASE SEX Right_PCS Left_PCS    msk
3   nih_chp_01503_t1  NIMH_COS   M    absent   absent   True
6   nih_chp_01217_t1  NIMH_COS   M    absent   absent   True
23  nih_chp_00756_t1  NIMH_COS   M    absent   absent   True
25  nih_chp_01579_t1  NIMH_COS   M    absent   absent  False
30  nih_chp_03881_t1  NIMH_COS   M    absent   absent  False
55  nih_chp_05127_t1  NIMH_COS   M    absent   absent   True
71  nih_chp_05117_t1  NIMH_COS   M    absent   absent  False

In [18]:
acc.query("DATABASE=='APEX'")

,long_name,DATABASE,SEX,Right_PCS,Left_PCS,msk
197,sub-active01_ses-pretraining_T1w,APEX,M,present,absent,True
198,sub-inhibition01_ses-pretraining_T1w,APEX,F,present,absent,False
199,sub-inhibition02_ses-pretraining_T1w,APEX,M,present,absent,True
200,sub-active02_ses-pretraining_T1w,APEX,F,absent,absent,False
201,sub-inhibition04_ses-pretraining_T1w,APEX,M,absent,present,True
...,...,...,...,...,...,...
285,2-14COEEN_t0,APEX,F,absent,absent,False
287,2-18LELAM_t0,APEX,M,absent,present,True
291,2-25MATMA_t0,APEX,F,present,present,False
293,2-29PIEMA_t0,APEX,F,absent,absent,False
294,2-31LOEST_t0,APEX,F,absent,absent,False

In [19]:
len(acc[acc.long_name.str.contains("sub-")]) + len(acc[acc.long_name.str.contains("1-")]) + len(acc[acc.long_name.str.contains("2-")])

65

In [20]:
acc.query("DATABASE=='APEX'")

,long_name,DATABASE,SEX,Right_PCS,Left_PCS,msk
197,sub-active01_ses-pretraining_T1w,APEX,M,present,absent,True
198,sub-inhibition01_ses-pretraining_T1w,APEX,F,present,absent,False
199,sub-inhibition02_ses-pretraining_T1w,APEX,M,present,absent,True
200,sub-active02_ses-pretraining_T1w,APEX,F,absent,absent,False
201,sub-inhibition04_ses-pretraining_T1w,APEX,M,absent,present,True
...,...,...,...,...,...,...
285,2-14COEEN_t0,APEX,F,absent,absent,False
287,2-18LELAM_t0,APEX,M,absent,present,True
291,2-25MATMA_t0,APEX,F,present,present,False
293,2-29PIEMA_t0,APEX,F,absent,absent,False
294,2-31LOEST_t0,APEX,F,absent,absent,False

In [21]:
for database in acc['DATABASE'].unique():
    for sex in acc['SEX'].unique():
        for right_PCS in acc['Right_PCS'].unique():
            for left_PCS in acc['Left_PCS'].unique():
                df = acc.query("DATABASE==@database and SEX==@sex and Right_PCS==@right_PCS and Left_PCS==@left_PCS")
                df0 = acc0.query("DATABASE==@database and SEX==@sex and Right_PCS==@right_PCS and Left_PCS==@left_PCS")
                print(f"{database}, {sex}, {right_PCS}, {left_PCS}: {len(df0)} -- {len(df)}")

NIMH_COS, M, absent, present: 10 -- 17
NIMH_COS, M, absent, absent: 1 -- 7
NIMH_COS, M, present, present: 8 -- 17
NIMH_COS, M, present, absent: 4 -- 6
NIMH_COS, F, absent, present: 5 -- 8
NIMH_COS, F, absent, absent: 1 -- 5
NIMH_COS, F, present, present: 4 -- 7
NIMH_COS, F, present, absent: 3 -- 5
NIMH_COSSIB, M, absent, present: 5 -- 11
NIMH_COSSIB, M, absent, absent: 2 -- 3
NIMH_COSSIB, M, present, present: 4 -- 9
NIMH_COSSIB, M, present, absent: 1 -- 2
NIMH_COSSIB, F, absent, present: 3 -- 9
NIMH_COSSIB, F, absent, absent: 3 -- 3
NIMH_COSSIB, F, present, present: 1 -- 2
NIMH_COSSIB, F, present, absent: 5 -- 10
NIMH_NV, M, absent, present: 9 -- 16
NIMH_NV, M, absent, absent: 4 -- 8
NIMH_NV, M, present, present: 10 -- 21
NIMH_NV, M, present, absent: 1 -- 4
NIMH_NV, F, absent, present: 6 -- 11
NIMH_NV, F, absent, absent: 3 -- 6
NIMH_NV, F, present, present: 2 -- 3
NIMH_NV, F, present, absent: 2 -- 6
APEX, M, absent, present: 8 -- 14
APEX, M, absent, absent: 3 -- 6
APEX, M, present, present: 4 -- 6
APEX, M, present, absent: 3 -- 7
APEX, F, absent, present: 4 -- 8
APEX, F, absent, absent: 8 -- 14
APEX, F, present, present: 2 -- 6
APEX, F, present, absent: 1 -- 4
TISSIER_2018, M, absent, present: 8 -- 17
TISSIER_2018, M, absent, absent: 3 -- 8
TISSIER_2018, M, present, present: 4 -- 7
TISSIER_2018, M, present, absent: 5 -- 8
TISSIER_2018, F, absent, present: 6 -- 15
TISSIER_2018, F, absent, absent: 5 -- 11
TISSIER_2018, F, present, present: 7 -- 8
TISSIER_2018, F, present, absent: 2 -- 6

In [22]:
df[:(len(df)//2)]

        long_name      DATABASE SEX Right_PCS Left_PCS    msk
311  e0032_t1_s03  TISSIER_2018   F   present   absent  False
330  e0072_t1_s03  TISSIER_2018   F   present   absent   True
341  a0029_t1_s03  TISSIER_2018   F   present   absent   True

In [23]:
df

        long_name      DATABASE SEX Right_PCS Left_PCS    msk
311  e0032_t1_s03  TISSIER_2018   F   present   absent  False
330  e0072_t1_s03  TISSIER_2018   F   present   absent   True
341  a0029_t1_s03  TISSIER_2018   F   present   absent   True
348  a0025_t1_s03  TISSIER_2018   F   present   absent  False
375  a0011_t1_s03  TISSIER_2018   F   present   absent   True
379  a0016_t1_s03  TISSIER_2018   F   present   absent   True

In [24]:
def iterative_split(df, folds, n_splits, stratify_columns):
    """Custom iterative train test split which
    'maintains balanced representation with respect
    to order-th label combinations.'

    From https://madewithml.com/courses/mlops/splitting/#stratified-split
    """
    # One-hot encode the stratify columns and concatenate them
    one_hot_cols = [pd.get_dummies(df[col]) for col in stratify_columns]
    one_hot_cols = pd.concat(one_hot_cols, axis=1).to_numpy()
    stratifier = IterativeStratification(
        n_splits=n_splits, order=len(stratify_columns), sample_distribution_per_fold=folds)
    folds = []
    for indices in stratifier.split(df.to_numpy(), one_hot_cols):
        folds.append(df.iloc[indices[1]])
    return folds

In [25]:
folds = iterative_split(acc, [0.1,]*10, 10, ['DATABASE', 'SEX', 'Right_PCS'])

In [26]:
print(len(folds))

10

In [27]:
for database in acc['DATABASE'].unique():
    for sex in acc['SEX'].unique():
        for right_PCS in acc['Right_PCS'].unique():
            # for left_PCS in acc['Left_PCS'].unique():
            df = acc.query("DATABASE==@database and SEX==@sex and Right_PCS==@right_PCS")
            print(f"{database}, {sex}, {right_PCS}: {len(df)} :", end = ' ')
            for fold in folds:
                df0 = fold.query("DATABASE==@database and SEX==@sex and Right_PCS==@right_PCS")
                print(f"{len(df0)} -", end= ' ')
            print("")
lt = 0
for fold in folds:
    print(len(fold))
    lt += len(fold)
print(lt)

NIMH_COS, M, absent: 24 : 2 - 3 - 3 - 3 - 2 - 2 - 2 - 2 - 3 - 2 -
NIMH_COS, M, present: 23 : 3 - 2 - 2 - 1 - 2 - 3 - 3 - 3 - 1 - 3 -
NIMH_COS, F, absent: 13 : 2 - 1 - 1 - 2 - 1 - 1 - 1 - 1 - 2 - 1 -
NIMH_COS, F, present: 12 : 1 - 1 - 1 - 1 - 2 - 1 - 2 - 1 - 1 - 1 -
NIMH_COSSIB, M, absent: 14 : 2 - 1 - 2 - 1 - 2 - 2 - 1 - 1 - 1 - 1 -
NIMH_COSSIB, M, present: 11 : 1 - 1 - 1 - 1 - 1 - 1 - 1 - 1 - 1 - 2 -
NIMH_COSSIB, F, absent: 12 : 1 - 1 - 1 - 1 - 1 - 2 - 2 - 1 - 1 - 1 -
NIMH_COSSIB, F, present: 12 : 1 - 1 - 1 - 1 - 2 - 1 - 2 - 1 - 1 - 1 -
NIMH_NV, M, absent: 24 : 2 - 2 - 2 - 2 - 3 - 2 - 2 - 3 - 3 - 3 -
NIMH_NV, M, present: 25 : 2 - 3 - 3 - 2 - 2 - 2 - 2 - 3 - 3 - 3 -
NIMH_NV, F, absent: 17 : 2 - 2 - 1 - 2 - 3 - 1 - 2 - 2 - 1 - 1 -
NIMH_NV, F, present: 9 : 1 - 1 - 1 - 1 - 0 - 1 - 1 - 1 - 1 - 1 -
APEX, M, absent: 20 : 2 - 2 - 3 - 2 - 2 - 3 - 1 - 1 - 2 - 2 -
APEX, M, present: 13 : 1 - 1 - 1 - 2 - 1 - 1 - 2 - 2 - 1 - 1 -
APEX, F, absent: 22 : 3 - 3 - 2 - 2 - 2 - 2 - 2 - 2 - 2 - 2 -
APEX, F, present: 10 : 1 - 1 - 1 - 1 - 1 - 1 - 1 - 1 - 1 - 1 -
TISSIER_2018, M, absent: 25 : 3 - 3 - 1 - 3 - 4 - 2 - 3 - 3 - 2 - 1 -
TISSIER_2018, M, present: 15 : 1 - 1 - 2 - 2 - 1 - 2 - 2 - 1 - 2 - 1 -
TISSIER_2018, F, absent: 26 : 0 - 1 - 4 - 2 - 0 - 2 - 4 - 4 - 3 - 6 -
TISSIER_2018, F, present: 14 : 2 - 2 - 2 - 2 - 1 - 1 - 0 - 2 - 1 - 1 -
33
33
35
34
33
33
36
36
33
35
341

In [28]:
def iterative_split_through_sorting_shuffle(df, n_splits, stratify_columns, random_state):
    """Custom iterative train test split which
    maintains balanced representation.
    """
    # Dataframe random row shuffle + sorting according to stratify_columns
    sorted = df.sample(frac=1, random_state=random_state).sort_values(stratify_columns)
    # for each fold, we take one row every n_splits rows
    folds = [sorted.iloc[i::n_splits, :] for i in range(n_splits)]
    # Further shuffling
    folds = [fold.sample(frac=1, random_state=random_state) for fold in folds]
    random.Random(random_state).shuffle(folds)
    return folds

In [29]:
folds = iterative_split_through_sorting_shuffle(acc, 10, ['DATABASE', 'SEX', 'Right_PCS'], 1)

In [32]:
def print_results(parent, folds, col):

    # For each conbination of labels, prints the number of rows for each fold
    # having this combination
    total_errors = 0
    n_splits = len(folds)
    print("query   : #rows      : #rows per fold\n")

    for col0 in parent[col[0]].unique():
        for col1 in parent[col[1]].unique():
            for col2 in parent[col[2]].unique():
                df = parent.query(f"{col[0]}==@col0 and {col[1]}==@col1 and {col[2]}==@col2")
                len_query = len(df)
                print(f"{col0}, {col1}, {col2} : total = {len_query} : per fold =", end = ' ')
                for fold in folds:
                    df0 = fold.query(f"{col[0]}==@col0 and {col[1]}==@col1 and {col[2]}==@col2")
                    len_query_fold = len(df0)
                    if abs(len_query_fold-len_query/n_splits) >= 1:
                        total_errors += 1
                    print(f"{len_query_fold} -", end= ' ')
                print("")

    # Prints the statistics and the number of stratification errors
    expected_total_length = len(parent)
    total_length = 0
    total_mismatches = 0
    print("\nlengths of folds : ", end = ' ')
    for fold in folds:
        len_fold = len(fold)
        print(len_fold, end=' ')
        total_length += len_fold
        if abs(len_fold-expected_total_length/n_splits) >= 1:
            total_mismatches += 1
    print(f"\nExpected total_length = {expected_total_length}")
    print(f"Effective total_length = {total_length}")

    print(f"total number of stratification errors: {total_errors}")
    print(f"total number of mismatched fold sizes : {total_mismatches}")

In [33]:
print_results(acc, folds, ['DATABASE', 'SEX', 'Right_PCS'])

query   : #rows      : #rows per fold

NIMH_COS, M, absent : total = 24 : per fold = 2 - 2 - 2 - 2 - 2 - 3 - 3 - 2 - 3 - 3 -
NIMH_COS, M, present : total = 23 : per fold = 3 - 2 - 2 - 2 - 3 - 2 - 2 - 3 - 2 - 2 -
NIMH_COS, F, absent : total = 13 : per fold = 2 - 1 - 1 - 2 - 2 - 1 - 1 - 1 - 1 - 1 -
NIMH_COS, F, present : total = 12 : per fold = 1 - 2 - 2 - 1 - 1 - 1 - 1 - 1 - 1 - 1 -
NIMH_COSSIB, M, absent : total = 14 : per fold = 1 - 1 - 1 - 1 - 1 - 2 - 1 - 2 - 2 - 2 -
NIMH_COSSIB, M, present : total = 11 : per fold = 1 - 1 - 1 - 1 - 2 - 1 - 1 - 1 - 1 - 1 -
NIMH_COSSIB, F, absent : total = 12 : per fold = 1 - 2 - 1 - 2 - 1 - 1 - 1 - 1 - 1 - 1 -
NIMH_COSSIB, F, present : total = 12 : per fold = 1 - 1 - 2 - 1 - 1 - 1 - 2 - 1 - 1 - 1 -
NIMH_NV, M, absent : total = 24 : per fold = 2 - 2 - 2 - 2 - 3 - 3 - 2 - 3 - 2 - 3 -
NIMH_NV, M, present : total = 25 : per fold = 3 - 3 - 3 - 3 - 2 - 2 - 3 - 2 - 2 - 2 -
NIMH_NV, F, absent : total = 17 : per fold = 2 - 2 - 2 - 2 - 1 - 1 - 2 - 1 - 2 - 2 -
NIMH_NV, F, present : total = 9 : per fold = 1 - 1 - 1 - 1 - 1 - 1 - 1 - 1 - 1 - 0 -
APEX, M, absent : total = 20 : per fold = 2 - 2 - 2 - 2 - 2 - 2 - 2 - 2 - 2 - 2 -
APEX, M, present : total = 13 : per fold = 1 - 1 - 1 - 1 - 1 - 2 - 1 - 2 - 1 - 2 -
APEX, F, absent : total = 22 : per fold = 2 - 2 - 2 - 2 - 2 - 2 - 3 - 2 - 3 - 2 -
APEX, F, present : total = 10 : per fold = 1 - 1 - 1 - 1 - 1 - 1 - 1 - 1 - 1 - 1 -
TISSIER_2018, M, absent : total = 25 : per fold = 2 - 2 - 2 - 2 - 3 - 3 - 2 - 3 - 3 - 3 -
TISSIER_2018, M, present : total = 15 : per fold = 2 - 2 - 2 - 2 - 1 - 1 - 2 - 1 - 1 - 1 -
TISSIER_2018, F, absent : total = 26 : per fold = 3 - 2 - 2 - 2 - 3 - 3 - 2 - 3 - 3 - 3 -
TISSIER_2018, F, present : total = 14 : per fold = 1 - 2 - 2 - 2 - 1 - 1 - 2 - 1 - 1 - 1 -

lengths of folds :  34 34 34 34 34 34 35 34 34 34
Expected total_length = 341
Effective total_length = 341
total number of stratification errors: 0
total number of mismatched fold sizes : 0

# Makes splits by considering ACC0

In [34]:
acc.head()

          long_name  DATABASE SEX Right_PCS Left_PCS    msk
0  nih_chp_04701_t1  NIMH_COS   M    absent  present  False
1  nih_chp_01534_t1  NIMH_COS   M   present  present  False
2  nih_chp_04623_t1  NIMH_COS   M   present  present   True
3  nih_chp_01503_t1  NIMH_COS   M    absent   absent   True
4  nih_chp_00404_t1  NIMH_COS   M   present  present  False

In [38]:
acc.groupby(["DATABASE","SEX", "Right_PCS"]).size()

DATABASE      SEX  Right_PCS
APEX          F    absent       22
                   present      10
              M    absent       20
                   present      13
NIMH_COS      F    absent       13
                   present      12
              M    absent       24
                   present      23
NIMH_COSSIB   F    absent       12
                   present      12
              M    absent       14
                   present      11
NIMH_NV       F    absent       17
                   present       9
              M    absent       24
                   present      25
TISSIER_2018  F    absent       26
                   present      14
              M    absent       25
                   present      15
dtype: int64

In [194]:
def sampling_subdataset_based_on_full_dataset(full, sub, n_splits):
    """Sampling of one fold the subdataset sub such that
    for each combination, the proportion equals the proportion of the full dataset divided by n_splits
    """
    
    total = 0
    test = pd.DataFrame()
    full_counts = full.value_counts(["DATABASE","SEX", "Right_PCS"]).reset_index(name='counts')
    for row in full_counts.iterrows():
        row = row[1]
        total_comb = row['counts']
        df = sub.query(f"DATABASE=='{row['DATABASE']}' and SEX=='{row['SEX']}' and Right_PCS=='{row['Right_PCS']}'")

        if len(test) < total/n_splits:
            df = df.iloc[0:(int(total_comb/n_splits)+1),:]
        else:
            df = df.iloc[0:int(total_comb/n_splits),:]
            
        test = pd.concat([test, df])
        total_sub = len(df)
        total += total_comb
        print(f"{row['DATABASE']}, {row['SEX']}, {row['Right_PCS']}: {total_comb}, {total_sub}")

    return test

In [195]:
test = sampling_subdataset_based_on_full_dataset(acc, acc0, 5)

TISSIER_2018, F, absent: 26, 5
NIMH_NV, M, present: 25, 6
TISSIER_2018, M, absent: 25, 5
NIMH_COS, M, absent: 24, 4
NIMH_NV, M, absent: 24, 4
NIMH_COS, M, present: 23, 5
APEX, F, absent: 22, 5
APEX, M, absent: 20, 4
NIMH_NV, F, absent: 17, 3
TISSIER_2018, M, present: 15, 4
TISSIER_2018, F, present: 14, 2
NIMH_COSSIB, M, absent: 14, 2
NIMH_COS, F, absent: 13, 3
APEX, M, present: 13, 3
NIMH_COSSIB, F, absent: 12, 2
NIMH_COS, F, present: 12, 3
NIMH_COSSIB, F, present: 12, 2
NIMH_COSSIB, M, present: 11, 3
APEX, F, present: 10, 2
NIMH_NV, F, present: 9, 1

In [197]:
print(len(test))
test.head()

68

        long_name      DATABASE SEX Right_PCS Left_PCS    msk
312  e0039_t1_s03  TISSIER_2018   F    absent   absent  False
324  e0066_t1_s03  TISSIER_2018   F    absent  present   True
331  e0070_t1_s03  TISSIER_2018   F    absent   absent  False
332  e0076_t1_s03  TISSIER_2018   F    absent  present  False
343  a0022_t1_s03  TISSIER_2018   F    absent  present  False

In [198]:
# acc0_reduced = acc0.merge(test0, how='outer', indicator=True).query('_merge != "both"').drop('_merge', axis=1)

In [199]:
folds_test = iterative_split_through_sorting_shuffle(test, 2, ['DATABASE', 'SEX', 'Right_PCS'], 3)

In [201]:
print_results(test, folds_test,['DATABASE', 'SEX', 'Right_PCS'])

query   : #rows      : #rows per fold

TISSIER_2018, F, absent : total = 5 : per fold = 2 - 3 -
TISSIER_2018, F, present : total = 2 : per fold = 1 - 1 -
TISSIER_2018, M, absent : total = 5 : per fold = 3 - 2 -
TISSIER_2018, M, present : total = 4 : per fold = 2 - 2 -
NIMH_NV, F, absent : total = 3 : per fold = 1 - 2 -
NIMH_NV, F, present : total = 1 : per fold = 1 - 0 -
NIMH_NV, M, absent : total = 4 : per fold = 2 - 2 -
NIMH_NV, M, present : total = 6 : per fold = 3 - 3 -
NIMH_COS, F, absent : total = 3 : per fold = 1 - 2 -
NIMH_COS, F, present : total = 3 : per fold = 2 - 1 -
NIMH_COS, M, absent : total = 4 : per fold = 2 - 2 -
NIMH_COS, M, present : total = 5 : per fold = 2 - 3 -
APEX, F, absent : total = 5 : per fold = 2 - 3 -
APEX, F, present : total = 2 : per fold = 1 - 1 -
APEX, M, absent : total = 4 : per fold = 2 - 2 -
APEX, M, present : total = 3 : per fold = 2 - 1 -
NIMH_COSSIB, F, absent : total = 2 : per fold = 1 - 1 -
NIMH_COSSIB, F, present : total = 2 : per fold = 1 - 1 -
NIMH_COSSIB, M, absent : total = 2 : per fold = 1 - 1 -
NIMH_COSSIB, M, present : total = 3 : per fold = 2 - 1 -

lengths of folds :  34 34
Expected total_length = 68
Effective total_length = 68
total number of stratification errors: 0
total number of mismatched fold sizes : 0

In [205]:
acc_train = acc.merge(test, how='outer', indicator=True).query('_merge != "both"').drop('_merge', axis=1)

In [206]:
folds_train = iterative_split_through_sorting_shuffle(acc_train, 8, ['DATABASE', 'SEX', 'Right_PCS'], 3)

In [207]:
print_results(acc_train, folds_train,['DATABASE', 'SEX', 'Right_PCS'])

query   : #rows      : #rows per fold

APEX, F, present : total = 8 : per fold = 1 - 1 - 1 - 1 - 1 - 1 - 1 - 1 -
APEX, F, absent : total = 17 : per fold = 3 - 2 - 2 - 2 - 2 - 2 - 2 - 2 -
APEX, M, present : total = 10 : per fold = 1 - 1 - 1 - 2 - 2 - 1 - 1 - 1 -
APEX, M, absent : total = 16 : per fold = 2 - 2 - 2 - 2 - 2 - 2 - 2 - 2 -
TISSIER_2018, F, present : total = 12 : per fold = 2 - 1 - 2 - 1 - 2 - 2 - 1 - 1 -
TISSIER_2018, F, absent : total = 21 : per fold = 2 - 3 - 2 - 3 - 3 - 2 - 3 - 3 -
TISSIER_2018, M, present : total = 11 : per fold = 2 - 1 - 2 - 1 - 1 - 2 - 1 - 1 -
TISSIER_2018, M, absent : total = 20 : per fold = 2 - 3 - 2 - 3 - 2 - 2 - 3 - 3 -
NIMH_COS, F, present : total = 9 : per fold = 1 - 2 - 1 - 1 - 1 - 1 - 1 - 1 -
NIMH_COS, F, absent : total = 10 : per fold = 1 - 1 - 1 - 1 - 1 - 1 - 2 - 2 -
NIMH_COS, M, present : total = 18 : per fold = 2 - 2 - 2 - 3 - 2 - 2 - 2 - 3 -
NIMH_COS, M, absent : total = 20 : per fold = 3 - 2 - 3 - 2 - 3 - 3 - 2 - 2 -
NIMH_NV, F, present : total = 8 : per fold = 1 - 1 - 1 - 1 - 1 - 1 - 1 - 1 -
NIMH_NV, F, absent : total = 14 : per fold = 2 - 2 - 2 - 1 - 2 - 2 - 2 - 1 -
NIMH_NV, M, present : total = 19 : per fold = 3 - 2 - 3 - 2 - 2 - 3 - 2 - 2 -
NIMH_NV, M, absent : total = 20 : per fold = 2 - 3 - 2 - 3 - 2 - 2 - 3 - 3 -
NIMH_COSSIB, F, present : total = 10 : per fold = 1 - 1 - 2 - 1 - 1 - 2 - 1 - 1 -
NIMH_COSSIB, F, absent : total = 10 : per fold = 1 - 2 - 1 - 1 - 1 - 1 - 2 - 1 -
NIMH_COSSIB, M, present : total = 8 : per fold = 1 - 1 - 1 - 1 - 1 - 1 - 1 - 1 -
NIMH_COSSIB, M, absent : total = 12 : per fold = 2 - 1 - 1 - 2 - 2 - 1 - 1 - 2 -

lengths of folds :  35 34 34 34 34 34 34 34
Expected total_length = 273
Effective total_length = 273
total number of stratification errors: 0
total number of mismatched fold sizes : 0

In [210]:
folds = folds_train + folds_test
len(folds)

10

In [211]:
print_results(acc, folds,['DATABASE', 'SEX', 'Right_PCS'])

query   : #rows      : #rows per fold

NIMH_COS, M, absent : total = 24 : per fold = 3 - 2 - 3 - 2 - 3 - 3 - 2 - 2 - 2 - 2 -
NIMH_COS, M, present : total = 23 : per fold = 2 - 2 - 2 - 3 - 2 - 2 - 2 - 3 - 2 - 3 -
NIMH_COS, F, absent : total = 13 : per fold = 1 - 1 - 1 - 1 - 1 - 1 - 2 - 2 - 1 - 2 -
NIMH_COS, F, present : total = 12 : per fold = 1 - 2 - 1 - 1 - 1 - 1 - 1 - 1 - 2 - 1 -
NIMH_COSSIB, M, absent : total = 14 : per fold = 2 - 1 - 1 - 2 - 2 - 1 - 1 - 2 - 1 - 1 -
NIMH_COSSIB, M, present : total = 11 : per fold = 1 - 1 - 1 - 1 - 1 - 1 - 1 - 1 - 2 - 1 -
NIMH_COSSIB, F, absent : total = 12 : per fold = 1 - 2 - 1 - 1 - 1 - 1 - 2 - 1 - 1 - 1 -
NIMH_COSSIB, F, present : total = 12 : per fold = 1 - 1 - 2 - 1 - 1 - 2 - 1 - 1 - 1 - 1 -
NIMH_NV, M, absent : total = 24 : per fold = 2 - 3 - 2 - 3 - 2 - 2 - 3 - 3 - 2 - 2 -
NIMH_NV, M, present : total = 25 : per fold = 3 - 2 - 3 - 2 - 2 - 3 - 2 - 2 - 3 - 3 -
NIMH_NV, F, absent : total = 17 : per fold = 2 - 2 - 2 - 1 - 2 - 2 - 2 - 1 - 1 - 2 -
NIMH_NV, F, present : total = 9 : per fold = 1 - 1 - 1 - 1 - 1 - 1 - 1 - 1 - 1 - 0 -
APEX, M, absent : total = 20 : per fold = 2 - 2 - 2 - 2 - 2 - 2 - 2 - 2 - 2 - 2 -
APEX, M, present : total = 13 : per fold = 1 - 1 - 1 - 2 - 2 - 1 - 1 - 1 - 2 - 1 -
APEX, F, absent : total = 22 : per fold = 3 - 2 - 2 - 2 - 2 - 2 - 2 - 2 - 2 - 3 -
APEX, F, present : total = 10 : per fold = 1 - 1 - 1 - 1 - 1 - 1 - 1 - 1 - 1 - 1 -
TISSIER_2018, M, absent : total = 25 : per fold = 2 - 3 - 2 - 3 - 2 - 2 - 3 - 3 - 3 - 2 -
TISSIER_2018, M, present : total = 15 : per fold = 2 - 1 - 2 - 1 - 1 - 2 - 1 - 1 - 2 - 2 -
TISSIER_2018, F, absent : total = 26 : per fold = 2 - 3 - 2 - 3 - 3 - 2 - 3 - 3 - 2 - 3 -
TISSIER_2018, F, present : total = 14 : per fold = 2 - 1 - 2 - 1 - 2 - 2 - 1 - 1 - 1 - 1 -

lengths of folds :  35 34 34 34 34 34 34 34 34 34
Expected total_length = 341
Effective total_length = 341
total number of stratification errors: 0
total number of mismatched fold sizes : 0

In [222]:
(~folds_test[1]['long_name'].isin(acc0['long_name'])).sum()

0

In [232]:
folds_test[0].dtypes

long_name    object
DATABASE     object
SEX          object
Right_PCS    object
Left_PCS     object
msk            bool
dtype: object

# Saving results

In [244]:
save_path = "/neurospin/dico/data/deep_folding/current/datasets/ACCpatterns"
prefix_test = "ACCpatterns_subjects_test"
prefix_train = "ACCpatterns_subjects_train"

In [245]:
for i in range(len(folds_test)):
    folds_test[i]["long_name"].to_csv(
        f"{save_path}/{prefix_test}_split_{i}.csv",
        index=False,
        header=False,
        quoting=csv.QUOTE_ALL)

In [246]:
for i in range(len(folds_train)):
    folds_train[i]["long_name"].to_csv(
        f"{save_path}/{prefix_train}_split_{i}.csv",
        index=False,
        header=False,
        quoting=csv.QUOTE_ALL)