Le but du notebook est de comparer les labels envoyés par Nathan et ceux de Vincent

In [3]:
import pandas as pd

/home/jc225751/.local/lib/python3.10/site-packages/pandas/core/computation/expressions.py:21: UserWarning: Pandas requires version '2.8.4' or newer of 'numexpr' (version '2.8.1' currently installed).
  from pandas.core.computation.check import NUMEXPR_INSTALLED
/home/jc225751/.local/lib/python3.10/site-packages/pandas/core/arrays/masked.py:60: UserWarning: Pandas requires version '1.3.6' or newer of 'bottleneck' (version '1.3.2' currently installed).
  from pandas.core import (

In [1]:
nathan_label_file = "/neurospin/dico/data/deep_folding/current/datasets/UkBioBank/participants_sex_age.csv"
vincent_label_file = "/neurospin/dico/data/deep_folding/current/datasets/UkBioBank/agesex_502356_subjects.csv"

In [6]:
nathan = pd.read_csv(nathan_label_file, index_col=0)
nathan.head()

                Sex   Age
participant_id
sub-3411469       1  65.0
sub-2290292       0  69.0
sub-3842391       0  70.0
sub-2758537       1  49.0
sub-4334619       1  70.0

In [8]:
vincent = pd.read_csv(vincent_label_file, index_col=0)
vincent.head()

                Sex  Ageattendedimaging ImagingName
participant_id
1000016           1                 NaN         NaN
1000021           1                51.0     Cheadle
1000033           1                 NaN         NaN
1000049           0                 NaN         NaN
1000057           1                 NaN         NaN

In [11]:
vincent = vincent.add_prefix("sub-", axis=0)

In [13]:
merged = pd.merge(nathan, vincent, left_index=True, right_index=True)

In [16]:
len(merged[merged.Sex_x != merged.Sex_y])

0

In [20]:
len(merged[merged.Age != merged.Ageattendedimaging])

0

In [17]:
merged

                Sex_x   Age  Sex_y  Ageattendedimaging ImagingName
participant_id
sub-3411469         1  65.0      1                65.0     Cheadle
sub-2290292         0  69.0      0                69.0   Newcastle
sub-3842391         0  70.0      0                70.0     Cheadle
sub-2758537         1  49.0      1                49.0   Newcastle
sub-4334619         1  70.0      1                70.0     Cheadle
...               ...   ...    ...                 ...         ...
sub-5057890         1  72.0      1                72.0     Cheadle
sub-2038574         1  70.0      1                70.0     Reading
sub-1415693         0  64.0      0                64.0   Newcastle
sub-4524619         1  66.0      1                66.0     Cheadle
sub-1493505         0  65.0      0                65.0     Cheadle

[42782 rows x 5 columns]