In [3]:
import numpy as np
import pandas as pd

In [2]:
Llabels = np.load("/neurospin/dico/data/deep_folding/current/datasets/UkBioBank/crops/2mm/OCCIPITAL/mask/Llabel.npy")
Rlabels = np.load("/neurospin/dico/data/deep_folding/current/datasets/UkBioBank/crops/2mm/OCCIPITAL/mask/Rlabel.npy")

print(Llabels.shape, Rlabels.shape)

(21052, 38, 51, 60, 1) (21052, 38, 34, 50, 1)

In [7]:
qc = pd.read_csv("/neurospin/dico/data/deep_folding/current/datasets/UkBioBank/qc.tsv", sep='\t')
qc[qc.qc == 1]

      participant_id  qc comments
0        sub-2859308   1      NaN
1        sub-5201474   1      NaN
2        sub-2967866   1      NaN
3        sub-2707712   1      NaN
4        sub-4770610   1      NaN
...              ...  ..      ...
21049    sub-5275233   1      NaN
21050    sub-3396940   1      NaN
21051    sub-2955962   1      NaN
21052    sub-2718550   1      NaN
21053    sub-5894417   1      NaN

[21052 rows x 3 columns]

In [10]:
empty_crops = []

for i in range(Llabels.shape[0]):
    Lcrop = Llabels[i]
    Rcrop = Rlabels[i]
    
    if np.count_nonzero(Lcrop) == 0:
        empty_crops.append((i, 'L'))
    if np.count_nonzero(Rcrop) == 0:
        empty_crops.append((i, 'R'))

empty_crops

[(19, 'R'),
 (3104, 'L'),
 (3104, 'R'),
 (4390, 'L'),
 (4390, 'R'),
 (7534, 'R'),
 (16541, 'R')]